name: Publish Node package (npmjs)

on:
  push:
    tags:
      - 'v*'     # ex: v0.1.0, v1.0.0

jobs:
  publish-npm:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Configure npm registry
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> ~/.npmrc

      - name: Install deps
        run: npm ci

      - name: Build
        run: npm run build --if-present

      - name: Publish to npmjs
        run: npm publish --access public
